@model  List<Lab.Entities.Categories>


@{
    ViewBag.Title = "Categorias";
}

<h2>Index</h2>
<table class="table">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Description</td>
        <td>Picture</td>
        <td>Acciones</td>
    </tr>
    @foreach (var categ in Model)
    {
    <tr>
        <td>@categ.CategoryID</td>
        <td>@categ.CategoryName</td>
        <td>@categ.Description</td>
        <td>@categ.Picture</td>
        <td>
            <a class="btn btn-default" href="~/Categories/Edit/@categ.CategoryID">Edit</a>
            <a class="btn btn-danger" href="~/Categories/Delete/@categ.CategoryID">Delete</a>
        </td>
    </tr>
    }
</table>
<div>
    @Html.ActionLink("Insertar", "Insert", "Categories")
</div>

